<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>

    <div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
        <p class="header">Login to see more</p>
        
        <% if(error.length > 0){ %>
          <p class="error"><%=error%></p>

        <%}
        %>
        <form action="/login" method="post">

        <input type="text" placeholder="username" class="detail" name="username">
        <input type="password" placeholder="Password" class="detail" name="password" />
        
        <input type="submit" value="Login" class="btn int" >
      </form>
      <h2>Not Register Yet?</h2>
      <a href="/">Register now</a>
      </div>
    </div>

  </body>
</html>
